<ion-view view-title="Sign In" hide-back-button="true">
  <ion-content>
    <div class="content has-header">
      <div class="padding">
        <h3>Welcome</h3>
      </div>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" data-ng-model="$parent.login.email" placeholder="email@example.com">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" data-ng-model="$parent.login.password" placeholder="**********">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" data-ng-click="signIn()">Sign In</button>
		<button class="button button-block button-light" ng-click="facebookLogin()">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Facebook
            </button>		
		<button class="button button-block button-light" ng-click="gpluslogin()">
                <i class="icon ion-social-googleplus-outline"></i>
                &nbsp;Login with Google
            </button>
      </div>
      <div class="padding text-center">
        <p>Doesn't have an account?</p>
        <button class="button button-block button-light" data-ng-click="go('auth')">Sign Up</button>
      </div>
    </div>
  </ion-content>
</ion-view>
